#first-container #second-container {
  display: grid;
  gap: 20px;
  justify-content: center;
}

#second-container h1 {
  margin-bottom: 30px;
  text-align: center;
}

#logo-row {
  display: grid;
  gap: 20px;
  justify-content: center;
}

#first-container {
  .col-lg-3,
  .col-md-4,
  .col-sm-6 {
    width: 100%;
    max-width: 300px;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  max-height: 50px;
  width: auto;
}

#available {
  padding: 20px;
}

#first-container,
#second-container {
  display: grid;
  place-items: center;
}

#logo-col {
  width: 100%;
  max-width: 300px;
}

@media (min-width: 222px) {
  #logo-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 990px) {
  #log {
    display: none;
  }

  #logo-row {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  #logo-row {
    grid-template-columns: repeat(5, 1fr);
  }
}

#first-container,
#second-container {
  display: grid;
  place-items: center;
}

#second-container {
  display: grid;
  gap: 20px;
  justify-content: center;
}

#second-container h1 {
  margin-bottom: 30px;
  text-align: center;
}

#logo-row {
  display: grid;
  gap: 20px;
}
